@model IEnumerable<WowArmory.Models.DataModel>
@*Temporary style*@
<style>
    th {
        padding: 10px;
        text-align: center;
    }

    td {
        padding: 10px;
        text-align: center;
        padding-right: 20px;
    }

    .main_table {
        margin: auto;
        width: 50%;
        padding: 10px;
    }

    .search_bar {
        margin: auto;
        width: 50%;
        padding: 10px;
    }
</style>

@{
    ViewData["Title"] = "Items";
    string name = null;
    const int itemsPerPage = 19;
}

<form class="search_bar" asp-action="Items" asp-controller="Items" method="get">
    <input type="text" asp-for="@name" />
    <input type="submit" value="Search" />
</form>

@*Previous/Next*@
@if (@Model != null)
{
    <div class="main_table">
        @if (Model.Count() > itemsPerPage)
        {
            if (ViewBag.nextClicked == true)
            {
                <a asp-action="PreviousItems" asp-controller="Items"> Previous </a>
            }

            <a asp-action="NextItems" asp-controller="Items"> Next </a>
        }

        @if (Model.Count() <= itemsPerPage && ViewBag.nextClicked == true)
        {
            <a asp-action="PreviousItems" asp-controller="Items"> Previous </a>
        }

    </div>
    if (Model?.Count() != 0)
    {
        <table class="main_table">
            <tr>
                <th>Icon</th>
                <th>Name</th>
                <th>Level</th>
                <th>Level Required</th>
                <th>Sell Price</th>
                <th>Type</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <a href="/item/item?id=@i.ItemId"><img src="@WowArmory.Models.Core.Constants.Links.Wowhead@Html.DisplayFor(x => i.Icon)@String.Concat(".jpg")" alt="@Html.DisplayFor(x => i.Name)" /></a>
                    </td>
                    <td><a href="/item/item?id=@i.ItemId">@Html.DisplayFor(x => i.Name)</a></td>
                    <td>@Html.DisplayFor(x => i.ItemLevel)</td>
                    <td>@Html.DisplayFor(x => i.RequiredLevel)</td>
                    <td>@Html.DisplayFor(x => i.SellPrice)</td>
                    <td>@Html.DisplayFor(x => i.Subclass)</td>
                </tr>
            }

        </table>
    }
    else
    {
        <h3>No more Items.</h3>
    }

}